.page-footer {
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: getColor('bgPrimary');
	@media (max-width: getBrPoint('medium')) {
		text-align: center;
	}

	// .page-footer__col

	&__col {
		@media (max-width:getBrPoint('medium')) {
			&:not(:last-child){
				margin-bottom: 60px;
			}
		}
		@media (min-width: getBrPoint('medium')) and (max-width: getBrPoint('large')){
			flex: 1 1 50%;
			justify-content: center;
			text-align: center;
			&:last-child {
				margin-top: $mrgDefault;
			}
		}
		flex: 0 1 100%;
		@media (min-width: getBrPoint('large')) {
			&:not(:last-child){
			margin-right: 70px;
			}
			&>.socials{
				justify-content: flex-start;
			}
		}
	}

	// .page-footer__contacts

	&__contacts {
		font-style: normal;
		line-height: 1.714;
	}

	// .page-footer__label

	&__label {
		display: inline-block;
		margin-bottom: 20px;
		font-size: 0.875em;
		font-weight: 700;
		color: getColor('white');
		text-transform: uppercase;
	}

	// .page-footer__wrapper

	&__wrapper {
	
		@media  (min-width: getBrPoint('large')) {
			display: flex;
		}
	}
}


.contacts {

	// .contacts__street

	&__street {
		margin-bottom: 8px;
		font-size: 0.875em;
		color: getColor('white');
	}
}




.subscribe-form {
	@media (min-width: getBrPoint('medium')) {
	}

	// .subscribe-form__field

	&__field {
		@media (max-width: getBrPoint('medium')) {
			width: 100%;
			margin-bottom: 20px;
		}
		@media  (min-width: getBrPoint('medium')) and (max-width: getBrPoint('large')){
			width: 450px;
			margin-bottom: 20px;
		}
		@media (min-width: getBrPoint('large')) {
			max-width: 450px;
			margin-right: 12px;
		}
		padding: 15px 16px;
		color: getColor('white');
		background-color: getColor('bgPrimary');
		border-radius: 4px;
		border: 1px solid getColor('borderFormField');
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
		&::placeholder {
			font-family: 'Roboto';
			font-size: 1rem;
			font-weight: 400;
			line-height: 1.25;
			letter-spacing: 0.03em;
			color: getColor('footerText');
		}
	}
}

.socials--hidden {
	display: flex;
	justify-content: flex-start;
	font-size: 1.125em;
	& .socials__link {
	color: getColor('accent');
	line-height: 1.2222;
}
& .socials__item {
	&:not(:last-child){
		padding-right: 10px;
		border-right: 1px solid getColor('borderInput');
	}
	
	}
	@media  (min-width: getBrPoint('medium')) {
		display: none;
	}
}