//colors map
$colors:(
	'primaryText': rgba(33, 33, 33, 1), // #212121
	'secondaryText': rgba(117, 117, 117, 1), // #757575
	'footerText': rgba(255, 255, 255, .6),
	'accent': rgba(33, 150, 243, 1), // #2196f3
	'bgPrimary': rgba(47, 48, 58, 1), // #2f303a
	'bgSecondary': rgba(245, 244, 250, 1), // #f5f4fa
	'bgThird': rgba(236, 236, 236, 1), // #ececec
	'bgFour': rgba(47, 48, 58, 0.8),
	'bgModal': rgba(0, 0, 0, .2),
	'bgCard': rgba(33, 150, 243, .9),
	'borderCard': rgba(238, 238, 238, 1), // #eeeeee
	'logoSocial': rgba(175, 177, 184, 1), // #afb1b8
	'logoSocialFooter': rgba(255, 255, 255, .1),
	'hoverBtn': rgba(24, 140, 232, 1), // #188ce8
	'borderFormField': rgba(255, 255, 255, .3),
	'borderClose': rgba(0, 0, 0, .1),
	'borderInput': rgba(33, 33, 33, .2),
	'white': rgba(255, 255, 255, 1), // #ffffff
	'black': rgba(0, 0, 0, 1), // #000000
);

@function getColor($key) {
	@return map-get($colors, $key);
}

//grid gap map
$gap:(
	'portfolio': 30px,
);

// breakpoints map
$breakpoints:(
	'small': 480px,
	'medium': 768px,
	'large': 1200px,
);

@function getBrPoint($key) {
	@return map-get($breakpoints, $key);
}